name: "PR Linters"
permissions: read-all

# Trigger for PR and merge to develop branch
on:
    push:
      branches: develop
    pull_request:
    workflow_dispatch:

jobs:
  format-checks:
    runs-on: ubuntu-latest
    name: clang-format check
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@f677139bbe7f9c59b41e40162b753c062f5d49a3 # v5.2.0
      with:
        python-version: '3.10'
        cache: 'pip'
    - name: Install pre-commit
      run: pip install pre-commit
    - name: Run clang-format check
      run: pre-commit run --all-files --show-diff-on-failure --color always
