name: "PR Tests (x86_64)"
permissions: read-all

# Trigger for PR and merge to develop branch
on:
  push:
    branches: develop
  pull_request:
  workflow_dispatch:

env:
  CTEST_OUTPUT_ON_FAILURE: 1
  LAPACK_VERSION: 3.12.0
  PARALLEL: -j 2

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    # One runner for each domain
    strategy:
      fail-fast: false
      matrix:
        include:
        - config: generic SYCL BLAS
          domain: blas
          build_options: -DREF_BLAS_ROOT=${PWD}/lapack/install -DENABLE_GENERIC_BLAS_BACKEND=ON -DENABLE_MKLCPU_BACKEND=OFF -DGENERIC_BLAS_TUNING_TARGET=INTEL_CPU
        - config: portFFT
          domain: dft
          build_options: -DENABLE_PORTFFT_BACKEND=ON -DENABLE_MKLCPU_BACKEND=OFF
          test_options: -R 'DFT/CT/.*ComputeTests_in_place_COMPLEX.COMPLEX_SINGLE_in_place_buffer.sizes_8_batches_1*'
        - config: oneMKL BLAS
          domain: blas
          build_options: -DREF_BLAS_ROOT=${PWD}/lapack/install
        - config: oneMKL DFT
          domain: dft
        - config: oneMKL LAPACK
          domain: lapack
          build_options: -DREF_LAPACK_ROOT=${PWD}/lapack/install
        - config: oneMKL RNG
          domain: rng
    name: unit tests ${{ matrix.config }} CPU
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - name: Check if the changes affect this domain
      id: domain_check
      uses: actions/github-script@60a0d83039c74a4aee543508d2ffcb1c3799cdea # v7.0.1
      with:
        script: |
         const domainCheck = require('.github/scripts/domain-check.js')
         return domainCheck({github, context, domain: "${{ matrix.domain }}"})
    - name: Restore netlib from cache
      id: cache-lapack
      uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4.2.2
      with:
        path: lapack/install
        key: lapack-${{ env.LAPACK_VERSION }}
    - name: Install netlib
      if: steps.domain_check.outputs.result == 'true' && steps.cache-lapack.outputs.cache-hit != 'true'
      run: |
        curl -sL https://github.com/Reference-LAPACK/lapack/archive/refs/tags/v${LAPACK_VERSION}.tar.gz | tar zx
        SHARED_OPT="lapack-${LAPACK_VERSION} -DBUILD_SHARED_LIBS=on -DCBLAS=on -DLAPACKE=on -DCMAKE_INSTALL_PREFIX=${PWD}/lapack/install"
        # 32 bit int
        cmake ${SHARED_OPT} -B lapack/build32 
        cmake --build lapack/build32 ${PARALLEL} --target install
        # 64 bit int
        cmake ${SHARED_OPT} -DBUILD_INDEX64=on -B lapack/build64
        cmake --build lapack/build64 ${PARALLEL} --target install
    - name: Install compiler
      if: steps.domain_check.outputs.result == 'true'
      run: |
        wget --progress=dot:giga https://registrationcenter-download.intel.com/akdlm/IRC_NAS/5adfc398-db78-488c-b98f-78461b3c5760/intel-dpcpp-cpp-compiler-2025.3.1.16_offline.sh
        sudo bash intel-dpcpp-cpp-compiler-2025.3.1.16_offline.sh -s -a -s --action install --eula accept
    - name: Install Intel oneMKL
      if: steps.domain_check.outputs.result == 'true'
      run: |
        wget --progress=dot:giga https://registrationcenter-download.intel.com/akdlm/IRC_NAS/2ad98b49-1fb2-4294-ab3d-6889b434ebd3/intel-onemkl-2025.3.0.462_offline.sh
        sudo bash intel-onemkl-2025.3.0.462_offline.sh -s -a -s --action install --eula accept
    - name: Configure/Build for a domain
      if: steps.domain_check.outputs.result == 'true'
      run: |
        source /opt/intel/oneapi/setvars.sh
        cmake -DTARGET_DOMAINS=${{ matrix.domain }} -DENABLE_MKLGPU_BACKEND=off -DCMAKE_VERBOSE_MAKEFILE=on ${{ matrix.build_options }} -B build
        cmake --build build ${PARALLEL}
    - name: Run tests
      if: steps.domain_check.outputs.result == 'true'
      run: |
        source /opt/intel/oneapi/setvars.sh
        ctest --test-dir build ${{ matrix.test_options }}
